
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/Scripts/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <title>UpdatePwd</title>
    <style type="text/css">
        #Diving {
            text-align: center; /*让div内部文字居中*/
            background-color: #fff;
            border-radius: 20px;
            width: 300px;
            height: 350px;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 90px;
            bottom: 0;
        }
    </style>
</head>
<body>
    <script>
        $(function () {
            layui.use(['form'], function () {
                var form = layui.form;

                form.on('submit(btnOK)', function (data) {
                    var OldPwd = $("#OldPwd").val();
                    var NewPwd = $("#NewPwd").val();
                    var RePwd = $("#RePwd").val();
                    if (OldPwd == "" || NewPwd == "" || RePwd=="") {

                        layer.msg("请输入完整的信息");
                        return false;
                    }
                    $.ajax({
                        url: '/User/UpdatePwdInfo',
                        data: { Pwd1: OldPwd, Pwd2: NewPwd },
                        dataType: 'json',
                        type: 'post',
                        success: function (data) {

                            $("#OldPwd").val("");
                            $("#NewPwd").val("");
                            $("#RePwd").val("");

                            switch (data.data) {
                                case "3":
                                    layer.msg("修改成功");
                                    break;
                                case "1":
                                    layer.msg("原始密码不正确");
                                    break;
                                case "2":
                                    layer.msg("新密码不能和原始密码一致");
                                    break;

                                default:
                                    layer.msg("修改失败，请重试！");
                            }

                        }

                    })
                    return false;
                })
            })
        })
    </script>
    <div id="Diving">
        <form class="layui-form">
            <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
            <div class="layui-form-item" style="width:300px;">
                <label class="layui-form-label" lay-verify="username">旧密码</label>
                <div class="layui-input-block">
                    <input type="text" name="" id="OldPwd" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" style="width:300px;">
                <label class="layui-form-label" lay-verify="username">新密码</label>
                <div class="layui-input-block">
                    <input type="text" name="" id="NewPwd" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" style="width:300px;">
                <label class="layui-form-label" lay-verify="username">确认密码</label>
                <div class="layui-input-block">
                    <input type="text" name="" id="RePwd" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" style="margin-left:-45px;" lay-submit lay-filter="btnOK">保存</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
            <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
        </form>
    </div>
</body>
</html>
