.Loginbody{background: #2e3e4e;}
.logo{margin: auto; margin-top: 1%; width: 983px; height: 100px;}
.content {
    margin: auto;
    width: 983px;
    height: 680px;
    background: url(../images/register.png) top center no-repeat #fff;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,.6);
}

.Loginform{margin-top: 71px; float: right; width: 367px; height: 200px;}
.form-message{height:30px; width:60%; margin-left:auto; margin-right:auto;}
.form-error-text{padding-left:35px;border:1px solid #ee86a4; color: #9d2a16; font-family: Microsoft Yahei; height: 26px; line-height: 26px; background:#f8cad7 url('../Images/validatebox_warning.png') center left no-repeat; background-position: 10px 5.5px; border-radius: 4px;}
.form-warning-text{padding-left:35px;border:1px solid #f8e144; color: #000; font-family: Microsoft Yahei; height: 26px; line-height: 26px; background:#fdf7ce url('../Images/Icon16/bullet_error.png') center left no-repeat; background-position: 10px 5.5px; border-radius: 4px;}
.form-succeed-text{padding-left:35px; border-radius:3px; color: #fff; font-family: Microsoft Yahei; border: 1px solid #5e8800; height: 26px; line-height: 26px; background:#62b600 url('../Images/loading1.gif') center left no-repeat; background-position: 10px 5.5px;}
.form-account{margin-top: -400px; margin-left: 16px; font-family: Microsoft Yahei; font-size: 12pt; color: #999999;}
.form-password{margin-top: 23px; margin-left: 16px; font-family: Microsoft Yahei; font-size: 12pt; color: #999999;}
.form-Rpassword {
    margin-top: 5px;
    margin-left: 16px;
    font-family: Microsoft Yahei;
    font-size: 18px;
    color: #999999;
}
.form-eamil {
    margin-top: 53px;
    margin-left: 16px;
    font-family: Microsoft Yahei;
    font-size: 18px;
    color: #999999;
}
.form-phone {
    margin-top: 75px;
    margin-left: 16px;
    font-family: Microsoft Yahei;
    font-size: 18px;
    color: #999999;
}
.form-code {
    margin-top: 2px;
    margin-left: 16px;
    font-family: Microsoft Yahei;
    font-size: 18px;
    color: #999999;
}
#codes {
    position: relative;
    font-size: 16px;
    top: -2px;
}
#eamils {
position:relative;
font-size:16px;
}
#phoness {
    position: relative;
    font-size: 16px;
    top:5px;
}
#txtph {
    border: none;
    padding: 0px;
    height: 32px;
    line-height: 32px;
    width: 260px;
    font-family: Î¢ÈíÑÅºÚ,ËÎÌå,Arial,Helvetica,Verdana,sans-serif;
    font-size: 11pt;
    color: #999999;
    background-color: #F0EEF1;
    padding-left: 5px;
    position:relative;
    top:-25px;
    left:50px;
}
#eamil {
    border: none;
    padding: 0px;
    height: 32px;
    line-height: 32px;
    width: 260px;
    font-family: Î¢ÈíÑÅºÚ,ËÎÌå,Arial,Helvetica,Verdana,sans-serif;
    font-size: 11pt;
    color: #999999;
    background-color: #F0EEF1;
    padding-left: 5px;
}
#code {
    border: none;
    padding: 0px;
    height: 32px;
    line-height: 32px;
    width: 260px;
    font-family: Î¢ÈíÑÅºÚ,ËÎÌå,Arial,Helvetica,Verdana,sans-serif;
    font-size: 11pt;
    color: #999999;
    background-color: #F0EEF1;
    padding-left: 5px;
}
#txtname {
    border: none;
    padding: 0px;
    height: 32px;
    line-height: 32px;
    width: 260px;
    font-family: Î¢ÈíÑÅºÚ,ËÎÌå,Arial,Helvetica,Verdana,sans-serif;
    font-size: 11pt;
    color: #999999;
    background-color: #F0EEF1;
    padding-left: 5px;
}
#txtpassword {
    border: none;
    padding: 0px;
    height: 32px;
    line-height: 32px;
    width: 260px;
    font-family: Î¢ÈíÑÅºÚ,ËÎÌå,Arial,Helvetica,Verdana,sans-serif;
    font-size: 11pt;
    color: #999999;
    background-color: #F0EEF1;
    padding-left: 5px;
}
#txtpwd {
    border: none;
    padding: 0px;
    height: 32px;
    line-height: 32px;
    width: 260px;
    font-family: Î¢ÈíÑÅºÚ,ËÎÌå,Arial,Helvetica,Verdana,sans-serif;
    font-size: 11pt;
    color: #999999;
    background-color: #F0EEF1;
    padding-left: 5px;
}
.form-bottom{margin-top: 38px; margin-left: 16px; height:39px;line-height:39px;}
#register {
    height: 40px;
    width: 355px;
    float: left;
   position:relative;
   left:-20px;
    cursor: pointer;
    background-color: #00D405;
    color: #F2F2F2;
    font-size: 14px;
    font-family: Corbel;
    text-align: center;
    position: relative;
    top:5px;
    border-radius:3px;
}
#registerText {
    float: left;
    margin-left:-0px;
    margin-top:-25px;
}
    #TrueImg {
        position: absolute;
        left: 938px;
        top: 120px;
    }
#register3 {
    margin-top: 235px;
    margin-left: 595px;
    z-index:-999;
}
#TextSend {
    position:relative;
    top:-25px;
    left:-100px;
    height: 40px;
    float: right;

    width: 250px;
    font-size: 12px;
    font-family: Î¢ÈíÑÅºÚ,ËÎÌå,Arial,Helvetica,Verdana,sans-serif;
    color:red;
}
#plaseregister {
    color:#F2F2F2;
    font-size:21px;
     position:relative;
     left:220px;
     top:89px;
}
#zindex {
    margin-top: 45px;
}

.repwd {
position:relative;
top:30px;
font-size:14px;
}
.btlogin {
    height: 40px;
    width: 150px;
    float: right;
    margin-right: 12px;
    cursor: pointer;
}
.copyright{text-align: center; color: #fff; position: absolute; top: 100%; margin-top: -50px; width: 97%; font-family: Microsoft Yahei; line-height:25px;}
.qqsign{margin-left: 20px; border: medium none; width: 63px; height: 24px; border-style: none; background: none; background-image: url("../Images/Connect.png" ); cursor: pointer;}
#NameErrMsg {
position:relative;
top:11px;
color:red;
}
#PwdErrMsg {
    position: relative;
    top: 13px;
    
}
#RpwdErrMsg {
    position: relative;
    top: 42px;
   
}
#PhoneErrMsg {
    position: relative;
    top: -11px;
   
}
#CodeErrMsg {
    position: relative;
    top: 8px;
   
}
#SendData {
    height: 33px;
    width: 100px;
    float: right;
    margin-right: 18px;
    cursor: pointer;
    background-color: #3588FF;
    color: #F2F2F2;
    font-size: 14px;
    font-family: Î¢ÈíÑÅºÚ,ËÎÌå,Arial,Helvetica,Verdana,sans-serif;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
    position: relative;
    top: -41px;
    border-radius: 5px;
}
