
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreatrSuccess</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/layui/layui.js"></script>
</head>
<script>

    function gotourl(url) {
        location.href = url;
    }
</script>
<body>
    <div style="margin:0px auto;width:1000px;height:600px;background:url(/Content/Img/beijing.jpg)no-repeat;">
        <div style="margin-left:300px;position:relative;top:250px;">
          
            <p style="color:#00ff21;font-size:40px;margin-left:55px;">@ViewData["msg"]</p>
            <br />
            <br />
            <button class="layui-btn layui-btn-lg" onclick="gotourl('/img/uploadlist')">继续上传</button>
            <button class="layui-btn layui-btn-lg" onclick="gotourl('/home/ImgList')">查看相册</button>
            <button class="layui-btn layui-btn-lg" onclick="gotourl('/img/Uploadimg')">上传照片</button>
        </div>
    </div>
</body>
</html>
